/* Header style */

header {
    padding : 20px 0px;
    text-align: center;
    background-color: red;
    border-width:5px;
    border-style:double;
    border-color:white;
    
}

header h1 {
    text-transform : uppercase;
    color: white;
    letter-spacing: 3px;
}
.Image {
    max-width: 300px;
}